body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #CCCCFF;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  gap: 10px;
  padding: 1rem;
  background: #333;
}

nav button {
  position: relative;
  color: #FFFFFF;
  font-family: Times New Roman;
  font-size: 1rem;
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  left: 3rem;
}
#logo {
  height: 100vh;
  background:  #d2dca1;

  display: flex;
  flex-direction: row; /* desktop mặc định: ảnh trái, chữ phải */
  align-items: center;
  justify-content: flex-start;
}

#pic {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  object-fit: contain;
  left: 0;
}

#text-area {
  flex: 1;
  padding: 1rem;
  color: #003a1a;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Mobile */
@media (max-width: 768px) {
  #logo {
    flex-direction: column;
    height: auto; /* chiều cao tự co giãn */
  }

  #pic {
    max-width: 100%;
    width: 100%;
  }

  #text-area {
    text-align: center;
    padding: 1rem;
  }
}
